<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<h1>Ore di lavoro <%= Time.now.strftime("%m/%Y")%> per <%= @user.first_name %> <%= @user.last_name %></h1>

<h3>Ore giornaliere: <%= @user.daily_hours %></h3>

<table class="work-days-table">
  <tr class="work-days-table-headers-row">
    <th>Data</th>
    <th>Ore di Lavoro</th>
    <th></th>
    <th></th>
  </tr>

<% @work_days.each do |work_day| %>
  <tr class="work-day-row <%= cycle("odd", "even") %>">
    <td><%= work_day.date.strftime("%d/%m") %></td>
    <td><%= work_day.work_hours %></td>
    <td><%= link_to 'Modifica', edit_work_day_path(work_day) %></td>
    <td><%= link_to 'Elimina', work_day, method: :delete, data: { confirm: 'Sicuro?' } %></td>
  </tr>
<% end %>
  <tr class="total-hours-count-row">
    <td>Ore totali</td>
    <td><%= @work_days_total_hours %></td>
    <td></td>
    <td></td>
  </tr>
  <tr class="total-hours-count-row">
    <td>Ore extra</td>
    <td><%= @work_days_extra_hours %></td>
    <td></td>
    <td></td>
  </tr>
</table>

<br />

<%= link_to 'Aggiungi giornata di lavoro', new_work_day_path %>
<%= link_to 'Logout', logout_path, method: :delete %>
